################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HotelReservation/v15/Server/sqlite3
/.vs/HotelReservation/v15/.suo
/.vs/config
/HotelReservation/bin/Debug/netcoreapp2.2
